name: Renovate
on:
  pull_request:
    branches: [ main ]
    paths-ignore: 
      - '**.md'
      - 'renovate.json'
  push:
    branches: [ main ]
    paths-ignore: 
      - '**.md'
      - 'renovate.json'
  workflow_dispatch:
    inputs:
      logLevel:
        description: |
          Renovate log levels are used to control the amount of detail that is output in the Renovate log files.
          Log levels range: trace, debug, info, warn, error, fatal.
        required: true
        default: 'warn'
        options:
          - trace
          - debug
          - info
          - warn
          - error
          - fatal
      dryRun:
        description: |
          Use dryRun to preview the behavior of Renovate in logs, without making any changes to the repository files.

          You can choose from the following behaviors for the dryRun config option:

            null: Default behavior (except on pull requests) - Performs a regular Renovate run including creating/updating/deleting branches and PRs
            "extract": Performs a very quick package file scan to identify the extracted dependencies
            "lookup": Performs a package file scan to identify the extracted dependencies and updates available
            "full": Default behaviour on pull requests. Performs a dry run by logging messages instead of creating/updating/deleting branches and PRs
            
          Information provided mainly in debug log level.
        required: false
        options:
          - extract
          - lookup
          - full
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    - cron: '*/15 * * * *'
jobs:
  renovate:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - name: Request a Github token
        id: action-github-app-token
        uses: getsentry/action-github-app-token@v3.0.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
      - id: renovate-setup
        run: |
          if [ "$GITHUB_EVENT_NAME" == "pull_request" ]; then
            echo "DRY_RUN=full" >> $GITHUB_OUTPUT
          else
            echo "DRY_RUN=${{ inputs.dryRun }}" >> $GITHUB_OUTPUT
          fi
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@063e0c946b9c1af35ef3450efc44114925d6e8e6 # v40.1.11
        with:
          configurationFile: renovate-config.js
          token: ${{ steps.action-github-app-token.outputs.token }}
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'warn' }}
          RENOVATE_AUTODISCOVER: true
          RENOVATE_DRY_RUN: ${{ steps.renovate-setup.outputs.DRY_RUN }}
